[submodule "third_party/rapidjson"]
	path = third_party/rapidjson
	url = https://github.com/miloyip/rapidjson
[submodule "third_party/vulkan-headers"]
	path = third_party/vulkan-headers
	url = https://github.com/KhronosGroup/Vulkan-Headers
[submodule "third_party/SDL"]
	path = third_party/SDL
	url = https://github.com/libsdl-org/SDL
